Repository bartholomej/ngx-scrolltop: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(browserlist): update browserlist
  projects/demo/.browserslistrc
Due: none

chore(tsx): replace ts-node with tsx
  package.json
  scripts/tsconfig.ts-node.json
  yarn.lock
Due: prettier --write

chore(node): update to node 20
  .github/workflows/main.yml
  .github/workflows/test.yml
  .nvmrc
  projects/ngx-scrolltop/package.json
Due: prettier --write

chore(deps): ng update
  package.json
  yarn.lock
Due: prettier --write

docs(readme): angular 17
  README.md
  package.json
  projects/ngx-scrolltop/README.md
Due: prettier --write

chore(deploy): set environments
  .github/workflows/main.yml
  .github/workflows/test.yml
Due: none

chore(update): major release 7.0.0 💥
  package.json
  projects/ngx-scrolltop/package.json
Due: prettier --write

Automated deployment: Wed Dec 13 20:46:16 UTC 2023 209be14166f4dd66d570408b0db84573ef68b253
  3rdpartylicenses.txt
  chunk-I2ZIINO2.js
  chunk-MF342KWQ.js
  chunk-OC64LIZX.js
  chunk-QJH66UUK.js
  chunk-WTXDNNA6.js
  component-way.module-KXGNGVZY.js
  directive-way.module-ORO4HF24.js
  index.html
  main-JTDCBXGV.js
  main.UZCJQCXX.js
  polyfills-F4P3OIQ6.js
  polyfills.DJ3LEJ25.js
  styles-YQ4FGYRM.css
Due: eslint --fix, prettier --write

feat(standalone): standalone enabled
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.directive.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.module.ts
Due: eslint --fix, prettier --write

test: standalone components + directives
  projects/demo/src/app/component-way/component-way.component.spec.ts
  projects/demo/src/app/directive-way/directive-way.component.spec.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.spec.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.directive.spec.ts
Due: eslint --fix, prettier --write

feat(app): use signals
  angular.json
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.html
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.spec.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.directive.ts
Due: eslint --fix, prettier --write

feat(component): remove deprecated symbol input
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.ts
Due: eslint --fix, prettier --write

feat: provide service in standalone components
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.directive.ts
Due: eslint --fix, prettier --write

fix(component): do not show empty symbol wrapper
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.scss
Due: prettier --write

feat(demo): use standalone components
  projects/demo/src/app/app-routing.module.ts
  projects/demo/src/app/app.module.ts
  projects/demo/src/app/component-way/component-way-routing.module.ts
  projects/demo/src/app/component-way/component-way.component.ts
  projects/demo/src/app/component-way/component-way.module.ts
  projects/demo/src/app/directive-way/directive-way-routing.module.ts
  projects/demo/src/app/directive-way/directive-way.component.ts
  projects/demo/src/app/directive-way/directive-way.module.ts
Due: eslint --fix, prettier --write

docs(readme): angular 17
  README.md
  projects/ngx-scrolltop/README.md
Due: prettier --write

fix: upgrade multiple dependencies with Snyk
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade zone.js from 0.14.2 to 0.14.3
  package.json
  yarn.lock
Due: prettier --write

chore(update): major release 17.0.0 💥
  package.json
  projects/ngx-scrolltop/package.json
Due: prettier --write

Automated deployment: Fri Jun 14 07:46:21 UTC 2024 4df42b196554cbad25c7bed9e896832d27f0adbf
  3rdpartylicenses.txt
  chunk-7FKDHKOZ.js
  chunk-I2ZIINO2.js
  chunk-MF342KWQ.js
  chunk-R3TV2GJ7.js
  chunk-TIJIN6FU.js
  chunk-W36GSMHJ.js
  chunk-WTXDNNA6.js
  index.html
  main-H37NIKRA.js
  main-JTDCBXGV.js
Due: eslint --fix, prettier --write

fix(button): centering symbol (tailwind conflict)
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.scss
Due: prettier --write

chore(update): patch release 17.0.1 🐛
  package.json
  projects/ngx-scrolltop/package.json
Due: prettier --write

Automated deployment: Fri Jun 14 09:06:53 UTC 2024 5340df0193e328e102482e31ae24ba2545f758c9
  chunk-3WZ7NV6Z.js
  chunk-7FKDHKOZ.js
  chunk-7VRMRLPN.js
  chunk-R6LAWAEE.js
  chunk-TIJIN6FU.js
  chunk-W36GSMHJ.js
  index.html
  main-H37NIKRA.js
  main-TI2ML5QU.js
Due: eslint --fix, prettier --write

chore(deps): ng update
  angular.json
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore(deps): browserlist update
  yarn.lock
Due: none

chore(deps): update other deps
  package.json
  yarn.lock
Due: prettier --write

refactor(component): signals + control flow
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.html
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.ts
Due: eslint --fix, prettier --write

refactor(directive): signals
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.directive.ts
Due: eslint --fix, prettier --write

refactor(service): signals + injects
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.core.service.ts
Due: eslint --fix, prettier --write

docs(readme): add ng18 info
  README.md
  package.json
  projects/ngx-scrolltop/README.md
  projects/ngx-scrolltop/package.json
Due: prettier --write

test: fix all tests
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.spec.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.core.service.spec.ts
Due: eslint --fix, prettier --write

chore(update): major release 18.0.0 💥
  package.json
  projects/ngx-scrolltop/package.json
Due: prettier --write

Automated deployment: Mon Jun 24 14:53:55 UTC 2024 9ecab1bea884a79203f908f1c8b00c36956a37a4
  3rdpartylicenses.txt
  browser/chunk-E7B6YM3J.js
  browser/chunk-EW74ROYA.js
  browser/chunk-HZOTZCVR.js
  browser/chunk-TFTN6LFH.js
  browser/favicon.ico
  browser/index.html
  browser/main-TQCUBJ3I.js
  browser/polyfills-KTKZVV2N.js
  browser/styles-YQ4FGYRM.css
  chunk-3WZ7NV6Z.js
  chunk-7VRMRLPN.js
  chunk-R3TV2GJ7.js
  chunk-R6LAWAEE.js
  main-TI2ML5QU.js
  polyfills-F4P3OIQ6.js
Due: eslint --fix, prettier --write

chore(ng): bump peer deps
  projects/ngx-scrolltop/package.json
Due: prettier --write

chore(update): patch release 18.0.1 🐛
  package.json
  projects/ngx-scrolltop/package.json
Due: prettier --write

Automated deployment: Tue Aug 20 10:57:36 UTC 2024 f34ccb072a0c1bdb1d3a43600afba6ad8f9e78a4
  browser/index.html
  browser/main-A423NNML.js
  browser/main-TQCUBJ3I.js
Due: eslint --fix, prettier --write

fix: upgrade multiple dependencies with Snyk
  projects/schematics/package.json
Due: prettier --write

fix: upgrade tslib from 2.6.3 to 2.7.0
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,ts,html}
  prettier --write: any of: *.{json,css,scss,md,ts,html}
