Repository bartholomej/ngx-scrolltop: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,ts,html}": ["eslint --fix"],
  "*.{json,css,scss,md,ts,html}": ["prettier --write"]
}

refactor(ng): migrate typescript
  package.json
  projects/demo/src/app/app.component.spec.ts
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/component-way/component-way.component.ts
  projects/demo/src/app/directive-way/directive-way.component.ts
  projects/demo/tsconfig.app.json
  projects/demo/tsconfig.spec.json
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.core.service.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.directive.spec.ts
  projects/ngx-scrolltop/tsconfig.lib.json
  projects/ngx-scrolltop/tsconfig.lib.prod.json
  projects/ngx-scrolltop/tsconfig.spec.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

refactor: eslint update
  angular.json
  eslint.config.mjs
  package.json
  projects/demo/.eslintrc.json
  projects/demo/e2e/src/app.po.ts
  projects/demo/eslint.config.js
  projects/demo/src/main.ts
  projects/ngx-scrolltop/.eslintrc.json
  projects/ngx-scrolltop/eslint.config.mjs
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.directive.spec.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.directive.ts
  yarn.lock
Due: eslint --fix, prettier --write

test: migration
  projects/demo/src/app/app.component.spec.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.directive.spec.ts
Due: eslint --fix, prettier --write

test: upgrade tests (remove karma)
  .browserslistrc
  angular.json
  package.json
  projects/demo/.browserslistrc
  projects/demo/e2e/src/app.e2e-spec.ts
  projects/demo/e2e/tsconfig.json
  projects/demo/karma.conf.js
  projects/demo/src/app/app.component.spec.ts
  projects/demo/src/polyfills.ts
  projects/demo/src/test.ts
  projects/demo/tsconfig.app.json
  projects/demo/tsconfig.spec.json
  projects/ngx-scrolltop/karma.conf.js
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.spec.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.core.service.spec.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.directive.spec.ts
  projects/ngx-scrolltop/src/test.ts
  projects/ngx-scrolltop/tsconfig.spec.json
  projects/schematics/tsconfig.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(yarn): update yarn
  .github/FUNDING.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .nvmrc
  package.json
Due: prettier --write

chore(ng): update peer deps ng22
  projects/ngx-scrolltop/package.json
Due: prettier --write

docs(readme): ng22
  README.md
Due: prettier --write

chore(actions): enable corepack
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

chore(mcp): add mcp server
  .mcp.json
Due: prettier --write

refactor(lib): angular 22 api
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.html
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.directive.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.module.ts
Due: eslint --fix, prettier --write

refactor(performance): run outside zone
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.directive.ts
Due: eslint --fix, prettier --write

refactor: standalone, strict, zoneless, unused
  angular.json
  package.json
  projects/demo/e2e/protractor.conf.js
  projects/demo/e2e/src/app.e2e-spec.ts
  projects/demo/e2e/src/app.po.ts
  projects/demo/e2e/tsconfig.json
  projects/demo/src/app/app.component.spec.ts
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/app.config.ts
  projects/demo/src/app/app.module.ts
  projects/demo/src/app/app.routes.ts
  projects/demo/src/app/component-way/component-way-routing.module.ts
  projects/demo/src/app/component-way/component-way.component.ts
  projects/demo/src/app/component-way/component-way.module.ts
  projects/demo/src/app/directive-way/directive-way-routing.module.ts
  projects/demo/src/app/directive-way/directive-way.component.ts
  projects/demo/src/app/directive-way/directive-way.module.ts
  projects/demo/src/environments/environment.prod.ts
  projects/demo/src/environments/environment.ts
  projects/demo/src/main.ts
  projects/demo/src/polyfills.ts
  projects/demo/tsconfig.app.json
  projects/demo/tsconfig.app.prod.json
  projects/demo/tsconfig.spec.json
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.interface.ts
  projects/ngx-scrolltop/src/test.ts
  scripts/create-version.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

test: stub methods
  projects/demo/src/test.ts
  projects/ngx-scrolltop/src/test.ts
Due: eslint --fix, prettier --write

chore: rename runner
  package.json
Due: prettier --write

test: change detection + clean + add
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.spec.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.core.service.spec.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.directive.spec.ts
Due: eslint --fix, prettier --write

chore(schematics): build + pipelines
  .github/workflows/publish.yml
  .github/workflows/test.yml
  projects/schematics/src/utility/ast-utils.ts
  projects/schematics/tsconfig.json
Due: eslint --fix, prettier --write

chore(version): create directory
  scripts/create-version.ts
Due: eslint --fix, prettier --write

chore(update): major release 22.0.0 💥
  package.json
  projects/ngx-scrolltop/README.md
  projects/ngx-scrolltop/package.json
Due: prettier --write

deploy: e64b30ef925fe339a78892c4897f0e7ceb70f7ea
  chunk-3T2EI4R2.js
  chunk-72OECSYA.js
  chunk-BfAEpNEA.js
  chunk-CJw06iVm.js
  chunk-DAas3XOu.js
  chunk-P6FPVHAO.js
  chunk-ZD2C6Q7Y.js
  index.html
  main-CJVU3PRC.js
  main-KUE2NSVC.js
  polyfills-6ISPNSXF.js
Due: eslint --fix, prettier --write

refactor: common logic
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.core.service.spec.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.directive.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.scroll-listener.ts
Due: eslint --fix, prettier --write

feat(polyfill): lazyload polyfill if needed
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.core.service.ts
Due: eslint --fix, prettier --write

chore(actions): add publish script
  .github/workflows/publish.yml
Due: none

feat(target): target selector [kickoff] #95
  README.md
  projects/demo/src/app/component-way/component-way.component.html
  projects/demo/src/app/component-way/component-way.component.scss
  projects/demo/src/app/component-way/component-way.component.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.core.service.spec.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.core.service.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.directive.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.scroll-listener.ts
Due: eslint --fix, prettier --write

feat(demo): target in new section
  projects/demo/src/app/app.component.html
  projects/demo/src/app/app.routes.ts
  projects/demo/src/app/target-way/target-way.component.html
  projects/demo/src/app/target-way/target-way.component.scss
  projects/demo/src/app/target-way/target-way.component.ts
Due: eslint --fix, prettier --write

feat(demo): hide text in target way
  projects/demo/src/app/app.component.html
  projects/demo/src/app/app.component.ts
Due: eslint --fix, prettier --write
