Repository bartholomej/ngx-scrolltop: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(deps): angular 19
  package.json
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/component-way/component-way.component.ts
  projects/demo/src/app/directive-way/directive-way.component.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.directive.spec.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore(deps): update other deps
  package.json
  yarn.lock
Due: prettier --write

Angular 19 update
  package.json
  projects/ngx-scrolltop/package.json
  projects/schematics/package.json
  projects/schematics/yarn.lock
  yarn.lock
Due: prettier --write

Fix demo, break in Angular 19 upgrade
  projects/demo/src/app/app.component.ts
Due: eslint --fix, prettier --write

chore: update lock file
  yarn.lock
Due: none

test: fix standalone compnent
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.directive.spec.ts
Due: eslint --fix, prettier --write

chore(eslint): upgrade eslint config
  .eslintrc.json
  eslint.config.mjs
Due: prettier --write

fix(scss): upgrade import -> use
  package.json
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.scss
Due: prettier --write

chore(update): major release 19.0.0 💥
  package.json
  projects/ngx-scrolltop/package.json
Due: prettier --write

Automated deployment: Mon Feb 10 21:28:51 UTC 2025 9def997788170a96e70bdc62e6325334a985d684
  3rdpartylicenses.txt
  browser/chunk-4WKHXQGF.js
  browser/chunk-6DZLX3YG.js
  browser/chunk-DQ4O5PLM.js
  browser/chunk-E7B6YM3J.js
  browser/chunk-EW74ROYA.js
  browser/chunk-HZOTZCVR.js
  browser/chunk-TFTN6LFH.js
  browser/chunk-ZY4RVXDQ.js
  browser/index.html
  browser/main-A423NNML.js
  browser/main-OA6LVSUE.js
  browser/polyfills-EONH2QZO.js
  browser/polyfills-KTKZVV2N.js
  prerendered-routes.json
Due: eslint --fix, prettier --write

docs(readme): update angular 19 readme
  README.md
Due: prettier --write

chore(update): patch release 19.0.1 🐛
  package.json
  projects/ngx-scrolltop/README.md
  projects/ngx-scrolltop/package.json
Due: prettier --write

Automated deployment: Mon Feb 10 21:39:27 UTC 2025 311357be6d90f57b774d8d720fe7ab0fd4dc2f63
  browser/index.html
  browser/main-3K6TINEB.js
  browser/main-OA6LVSUE.js
Due: eslint --fix, prettier --write

chore(deploy): update actions
  .github/workflows/main.yml
  .github/workflows/test.yml
Due: none

chore(update): patch release 19.0.2 🐛
  package.json
  projects/ngx-scrolltop/package.json
Due: prettier --write

Automated deployment: Mon Feb 10 21:48:26 UTC 2025 cafa6425700af78f35f81206d73f0e77daf228d5
  3rdpartylicenses.txt
  browser/main-3K6TINEB.js
  chunk-4WKHXQGF.js
  chunk-6DZLX3YG.js
  chunk-DQ4O5PLM.js
  chunk-ZY4RVXDQ.js
  favicon.ico
  index.html
  main-NS6WGIVK.js
  polyfills-EONH2QZO.js
  prerendered-routes.json
  styles-YQ4FGYRM.css
Due: eslint --fix, prettier --write

docs(readme): update for modern angular
  README.md
Due: prettier --write

feat(component): performance boost [temp]
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.ts
Due: eslint --fix, prettier --write

feat(directive): performance improvement
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.directive.ts
Due: eslint --fix, prettier --write

chore(deps): update
  package.json
  yarn.lock
Due: prettier --write

chore(deps): ng update 20
  angular.json
  package.json
  projects/demo/src/app/app.component.html
  projects/demo/src/app/app.component.spec.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.core.service.spec.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.core.service.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(deps): update all deps
  package.json
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.core.service.spec.ts
  yarn.lock
Due: eslint --fix, prettier --write

docs(readme): angular 20
  README.md
  projects/ngx-scrolltop/README.md
  projects/ngx-scrolltop/package.json
Due: prettier --write

chore(deps): update angular 20
  angular.json
  package.json
  projects/demo/src/app/app.component.html
  projects/demo/src/app/app.component.spec.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.core.service.spec.ts
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.core.service.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(deps): update peer dependency
  projects/ngx-scrolltop/package.json
Due: prettier --write

docs(readme): update angular 20
  README.md
  projects/ngx-scrolltop/README.md
Due: prettier --write

chore(deps): update all deps
  package.json
  yarn.lock
Due: prettier --write

fix(demo): test directive properly
  projects/demo/src/app/app.component.html
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.core.service.spec.ts
Due: eslint --fix, prettier --write

chore(update): major release 20.0.0 💥
  package.json
  projects/ngx-scrolltop/package.json
Due: prettier --write

Automated deployment: Sun Jun 1 13:27:29 UTC 2025 ab285e7293f9368afb5959d5a32bff96e9e4beff
  chunk-3YRU5GDZ.js
  chunk-4WKHXQGF.js
  chunk-6DZLX3YG.js
  chunk-7H5PB2Y2.js
  chunk-DQ4O5PLM.js
  chunk-RDXPQ56O.js
  chunk-VDIOQESN.js
  chunk-ZY4RVXDQ.js
  index.html
  main-6MUOH6D4.js
  main-NS6WGIVK.js
  polyfills-BUUDEW7V.js
  polyfills-EONH2QZO.js
Due: eslint --fix, prettier --write

chore(deps): ng update
  package.json
  yarn.lock
Due: prettier --write

chore(update): patch release 20.0.1 🐛
  package.json
  projects/ngx-scrolltop/package.json
Due: prettier --write

Automated deployment: Sun Jun 15 14:37:18 UTC 2025 69f8f2f76597ce6bdb38c85488c459513eafffac
  chunk-225PKSS5.js
  chunk-3YRU5GDZ.js
  chunk-5TUIGSDU.js
  chunk-7H5PB2Y2.js
  chunk-ACHQ46MW.js
  chunk-MUNG76QC.js
  chunk-RDXPQ56O.js
  chunk-VDIOQESN.js
  index.html
  main-6MUOH6D4.js
  main-R5NEDVXX.js
Due: eslint --fix, prettier --write

chore(deps): ng update 20.1
  package.json
  yarn.lock
Due: prettier --write

feat(component): hover animation + focus
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.html
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.component.scss
Due: eslint --fix, prettier --write

feat(directive): performance + a11y
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.directive.ts
Due: eslint --fix, prettier --write

feat(service): simplification
  projects/ngx-scrolltop/src/lib/ngx-scrolltop.core.service.ts
Due: eslint --fix, prettier --write

chore(fs): use native fs
  package.json
  projects/ngx-scrolltop/package.json
  scripts/create-version.ts
  scripts/gpr-setup.ts
  scripts/sync-projects.ts
  yarn.lock
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,ts,html}
  prettier --write: any of: *.{json,css,scss,md,ts,html}
