Repository bartholomej/ngx-scrolltop: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,ts,html}": ["eslint --fix"],
  "*.{json,css,scss,md,ts,html}": ["prettier --write"]
}

chore(deps): refresh lock file
  package.json
  yarn.lock
Due: prettier --write

chore(ci): update node
  .github/workflows/main.yml
  .github/workflows/test.yml
  package.json
Due: prettier --write

chore(update): release 20.1.0 🚀
  package.json
  projects/ngx-scrolltop/package.json
Due: prettier --write

Automated deployment: Mon Aug 18 07:03:20 UTC 2025 e23438db00febc9343612661b942b79128b757ca
  chunk-225PKSS5.js
  chunk-5TUIGSDU.js
  chunk-7HEQHM3U.js
  chunk-ACHQ46MW.js
  chunk-MUNG76QC.js
  chunk-RSKCADQK.js
  chunk-SZGWKZQJ.js
  chunk-WHW5WHPG.js
  index.html
  main-R5NEDVXX.js
  main-RLDDI5JW.js
Due: eslint --fix, prettier --write

fix: upgrade @angular/animations from 20.1.7 to 20.2.1
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @angular/common from 20.1.7 to 20.2.1
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @angular/compiler from 20.1.7 to 20.2.1
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @angular/core from 20.1.7 to 20.2.1
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @angular/forms from 20.1.7 to 20.2.1
  package.json
  yarn.lock
Due: prettier --write

chore: ng update
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update all deps
  package.json
  yarn.lock
Due: prettier --write

fix(demo): zoneless app
  projects/demo/src/app/app.module.ts
Due: eslint --fix, prettier --write

test: update deprecated api
  projects/demo/src/app/app.component.spec.ts
  projects/demo/src/main.ts
  projects/demo/src/test.ts
  projects/ngx-scrolltop/src/test.ts
Due: eslint --fix, prettier --write

chore(update): release 20.2.0 🚀
  package.json
  projects/ngx-scrolltop/package.json
Due: prettier --write

Automated deployment: Sat Oct 25 13:44:51 UTC 2025 43339a7e79a18ed285a604a4cced94bd8a0d9ee5
  chunk-7655YQJ6.js
  chunk-7HEQHM3U.js
  chunk-H3ZNEQXT.js
  chunk-NMW2RUW4.js
  chunk-RSKCADQK.js
  chunk-RUPTL324.js
  chunk-SZGWKZQJ.js
  chunk-WHW5WHPG.js
  index.html
  main-RLDDI5JW.js
  main-TPSTKAMM.js
  polyfills-5FDKUQTZ.js
  polyfills-BUUDEW7V.js
Due: eslint --fix, prettier --write

chore(deps): add corepack prop
  package.json
Due: prettier --write

chore(deps): ng21 + migrations
  package.json
  projects/ngx-scrolltop/tsconfig.lib.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore(deps): update browserlist
  yarn.lock
Due: none

chore(deps): ng 21 compat peerdeps
  projects/ngx-scrolltop/package.json
Due: prettier --write

test(directive): fix scrolling tests
  projects/demo/src/app/app.component.spec.ts
Due: eslint --fix, prettier --write

chore(deps): update deep deps
  yarn.lock
Due: none

docs(readme): add angular 21
  README.md
  projects/ngx-scrolltop/README.md
Due: prettier --write

chore(update): major release 21.0.0 💥
  package.json
  projects/ngx-scrolltop/package.json
Due: prettier --write

Automated deployment: Thu Dec 4 12:47:06 UTC 2025 c168614dbb7728b84a48b24c034c26c2431d5c62
  chunk-3T2EI4R2.js
  chunk-72OECSYA.js
  chunk-7655YQJ6.js
  chunk-H3ZNEQXT.js
  chunk-NMW2RUW4.js
  chunk-P6FPVHAO.js
  chunk-RUPTL324.js
  chunk-ZD2C6Q7Y.js
  index.html
  main-DIAZ6AY5.js
  main-TPSTKAMM.js
  polyfills-5FDKUQTZ.js
  polyfills-6ISPNSXF.js
  styles-CW5TC7AR.css
  styles-YQ4FGYRM.css
Due: eslint --fix, prettier --write

chore(deploy): oidc npm
  .github/workflows/publish.yml
Due: none

chore(deps): ng update
  package.json
  yarn.lock
Due: prettier --write

chore(update): patch release 21.0.1 🐛
  package.json
  projects/ngx-scrolltop/package.json
Due: prettier --write

chore(deploy): gh pages
  .github/workflows/publish.yml
Due: none

deploy: f0962eeabbdbb5ee7f375800029282ea99d94279
  .nojekyll
  index.html
  main-DIAZ6AY5.js
  main-Z3XA3HPL.js
Due: eslint --fix, prettier --write

chore(deploy): gh pages + disable ghpr
  .github/workflows/publish.yml
Due: none

chore(update): patch release 21.0.2 🐛
  package.json
  projects/ngx-scrolltop/package.json
Due: prettier --write

deploy: b2c4b359acd107f6e8108a3656a7a4a14dd46e82
  index.html
  main-KUE2NSVC.js
  main-Z3XA3HPL.js
Due: eslint --fix, prettier --write

fix: upgrade @angular/animations from 21.0.3 to 21.0.5
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @angular/common from 21.0.3 to 21.0.5
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @angular/compiler from 21.0.3 to 21.0.6
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @angular/core from 21.0.3 to 21.0.6
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @angular/forms from 21.0.3 to 21.0.6
  package.json
  yarn.lock
Due: prettier --write

chore(yarn): update yarn
  .gitignore
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write
